<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Yannik Schmidt">
  <link rel="shortcut icon" href="/defaultFavicon.ico">

  <title>Certificate Manager</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.atlantishq.de/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/site.css" rel="stylesheet">
  <script defer src="https://cdn.atlantishq.de/static/js/jquery.min.js"></script>
  <script defer src="https://cdn.atlantishq.de/static/js/bootstrap.js"></script>

</head>
<body>
	<style>
		.disabled{
    		pointer-events: none;
    		opacity: 0.4;
		}
	</style>
    <div class="container">

        <button class="mt-4 mb-4 btn btn-secondary" onclick="window.location.href='/'">
            Back
        </button>

    	<h3 class="cn">{{ cert.get("CN") }}</h3>


        {% if cert.is_revoked() %}
        <h2 style="color: red;">
            REVOKED
        </h2>
        <b style="color: red">
            (Reason: {{ cert.is_revoked().get_reason().decode("ascii") }})
        </b>
        {% else %}
        <script>
			function revoke_and_reload(){
				a = window.confirm("You sure you want to non-reversebly revoke this certificate?")
				if(a){
                	fetch(window.location.origin + '/revoke?serial={{ cert.serial }}')
                	window.location.reload()
				}
			}
		</script>
        <button class="btn btn-primary" onclick="revoke_and_reload()">
            Revoke
        </button>
        {% endif %}

        <div class="info mt-4">
		  <div class="row">
			<div class="col-6">
              <table>
                  <thead>
                      <tr>
                          <th>Component</th>
                          <th>Value</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for key, value in cert.components.items() %}
                      <tr>
                          <td><b> {{ key }}  </b></td>
                          <td> {{ value }} </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
			</div>
			<div class="col-6">
              <div class="row">
                  <div class="col"><b>Permissions</b></div>
                  <div class="col"></div>
			  </div>
              {% for key, value in cert.permissions.items() %}
              <div class="row">
			  	<div class="col">
			  		{{ key }}
			  	</div>
			  	<div class="col">
			  		{% if value %}
                      <i style="color: darkgreen;">Yes</i>
			  		{% else %}
                      <i style="color: red;">No</i>
			  		{% endif %}
				</div>
			  </div>
              {% endfor %}
			</div>
		  </div>
		  <div class="row">
            <div class="vpn-info mt-4">
                <input {{ checked["vpn_enabled"] }} id="vpn_enabled" class="vpn-config" type=checkbox><i class="pl-2">Enable VPN Access (can only access server/first ip of subnet)</i></input>
                <div id="vpn-conditional-container" class="vpn-info-conditional pl-3 mt-2">
                    <input {{ checked["vpn_allow_internal"] }} id="vpn_allow_internal" class="vpn-config" type=checkbox><i class="pl-2">Allow Access to routed clients</i></input><br>
                    <input {{ checked["vpn_allow_outgoing"] }} id="vpn_allow_outgoing" class="vpn-config" type=checkbox><i class="pl-2">Allow Outgoing Traffic via LB</i></input><br>
                    <input {{ checked["vpn_routed"] }}         id="vpn_routed"         class="vpn-config" type=checkbox><i class="pl-2">Route this IP for other clients</i></input><br>
                </div>
            </div>
		  </div>
          <script>
            let boxes = Array.from(document.getElementsByClassName("vpn-config"))
            function vpn_update(){
				const updateUrl = new URL(window.location.origin + "/vpn")
				updateUrl.searchParams.append("serial", {{ cert.serial }})
                boxes.forEach(e => updateUrl.searchParams.append(e.id, e.checked))
				fetch(updateUrl)
            }
            boxes.forEach(e => e.addEventListener("change", vpn_update))

			/* gray out rest if no VPN */
			function disabled_state(){
				checked = document.getElementById("vpn_enabled").checked
				container = document.getElementById("vpn-conditional-container")
				if(!checked){
					container.classList.add("disabled")
				}else{
					container.classList.remove("disabled")
				}
			}
			main = document.getElementById("vpn_enabled")
			main.addEventListener("change", disabled_state)

            /* run gray state check once */
            disabled_state()
          </script>
        </div>
    </div>
</body>
</html>
