client
dev athq_tun
proto {{ proto }}
remote {{ server }} {{ port }}
resolv-retry infinite
nobind

dev-type tun

user nobody
group nogroup

persist-key
persist-tun

# redirect-gateway def1 ipv6

<ca>
{{ ca_cert }}
</ca>


<cert>
{{ client_cert }}
</cert>


<key>
{{ client_key }}
</key>

remote-cert-tls server

data-ciphers AES-256-CBC
data-ciphers-fallback AES-256-CBC
auth SHA512
